body {
}

.navbar {
    margin-bottom: none !important;
}

.mainContainer {
    margin: 0px !important;
    padding: 0px !important;
    max-width: none !important;
}



.home {
    display: flex;
    flex-direction: column;
}



.button {
    background-color: #202a9a !important; /* Blue */
    border: none;
    border-radius: 15px;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.button {
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50 !important; /* Green */
    color: white;
}

/*PORTADA Index.html*/
.portada {
    height: 70vh;
    display: block;
}

.fondoAmarillo {
    background-color: #eee460;
}

.imagenPortada {
    width: 65%;
    /* Agrego una animacion personalizada usando KeyFrame*/
    animation-name: saltar;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /**/
    position: relative;
    top: 90px;
    left: 90px;
}

.containButton {
    margin-top: 10px;
}

    .containButton .botonAzul {
        min-width: 130px;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        background: #3a86ff;
        box-shadow: 0 5px #4433ff;
    }

        .containButton .botonAzul:hover {
            box-shadow: 0 3px #4433ff;
            top: 1px;
        }

        .containButton .botonAzul:active {
            box-shadow: 0 0 #4433ff;
            top: 5px;
        }



@keyframes saltar {
    0% {
        opacity: 0;
        transform: scale(0.3) translate3d(0,0,0);
    }

    50% {
        opacity: 0.9;
        transform: scale(1.1);
    }

    80% {
        opacity: 1;
        transform: scale(0.89);
    }

    100% {
        opacity: 1;
        transform: scale(1) translate3d(0,0,0);
    }
}
  
/************* */